#######################
##  Compiled source  ##
#######################
*.com
*.class
*.dll
*.exe
*.o
*.so

###############
##   python  ##
###############
.ipynb_checkpoints
*.pyc
*.pyo

####################
## Spyder project ##
####################
.spyderproject

#########
## VIM ##
#########
*.swp
*.swo
*.bak
*~ 

###################
### directories ##
###################
data/


###########
## Other ##
###########
# this notebook has errors
./plotting_sea_ice_concentration.ipynb 
